<!DOCTYPE html>
<html>

<head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
     <meta charset='utf-8'>
     <title>{{ comic.title }}</title>
</head>

<body>
<h1>{{ comic.title }}</h1>
<summary>{{ comic.description }}</summary>

<h2>Characters</h2>

<div class="row">

     {% for char in comic.characters %}
     <div class="thumbnailContainer">
          <img class="thumbnail" src="{{ char.thumbnail }}" alt="{{ char.name }} thumbnail"/>
          <p class="thumbnail"> {{ char.name }} </p>
     </div>
     {% endfor %}

</div>

<footer> {{ attribution_html|safe }} </footer>

</body>
</html>